body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
  }
  /* Navbar */
  .navbar {
    background-color: #F7F1EC;
  }
  .navbar-brand img {
    max-height: 75px; 
  }
  .navbar a {
    color: #414042;
    text-align: center;
  }
  .navbar a:hover {
    color: black; 
    font-size: 18px;
  }
  /* Main */
  .bg-cover {
    background-position: center !important;
    background-size: cover !important;
}

.section1 {
    background-image: linear-gradient(90deg, rgba(69, 63, 59, 0.5) 1%, rgba(0, 0, 0, 0.6) 64%), url(./evermore_photos/weld_image\ .jpg);
    color: white; 
    height: 50em;
    width: 100%;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}

.section1 h1 {
    font-weight: 500;
    font-size: 4em;
    padding-bottom: 15px;
    font-family: 'Cookie', sans-serif; 
}

.section1 h4 {
    padding-bottom: 30px;  
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2em; 
}


.btn {
    background-color: #EAC27C;
    width: 9em;
    color: white;
    font-weight: 700;
}
.btn:hover {
    color: #EAC27C;
    background: #fff;
    transition: background-color 1s;
    border: 0.1rem solid black; 
}

.btn:active {
    transform: translate(0, 0.3rem);
}
.center {
    text-align: center;
}


   /* About */
  .about h3 {
    font-size: 2rem;
    margin-top: 20px;
    font-family: Cookie, sans-serif;
  }
  .about p {
    font-size: 0.7rem;
  }
  
  
  @media only screen and (max-width: 500px) {
    .carousel-item img {
      height: 19rem; 
    }
  }
  @media only screen and (min-width: 700px) {
    .carousel-caption h1{
      font-size: 3rem;
      padding-top: 2rem;
  }
  .carousel-caption h3 {
    font-size: 1.5rem;
  }
  .carousel-item img {
    max-height: 35rem; 
  }
  }
  @media only screen and (min-width: 1000px) {
    .carousel-caption h1{
      font-size: 5rem;
      padding-top: 5rem;
  }
  .carousel-caption h3 {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
  .carousel-item img {
    max-height: 45rem; 
  }
  .btn-main {
    height: 3rem;
    font-size: 1.5rem;
  }
  .about h3 {
    font-size: 3rem;
    margin-top: 50px;
  }
  .about p {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  }

 
  
  /* Services */
  .services {
    padding-bottom: 40px;
    background-color: #F7F1EC;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d7d7d7' fill-opacity='0.65' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    border-top: 2px solid #EAC27C;
    border-bottom: 2px solid #EAC27C;
  }
  .services h2 {
    font-size: 2rem; 
  }
  .services-title {
    padding-top: 10px; 
    margin-bottom: 10px;
    text-align: center;
  }
  .service-card {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  .card-title {
    font-size: 2rem;
    color: white;
    font-family: Cookie, sans-serif;
    font-weight: 400;
  }
  .card-text {
    font-size: 0.7rem;
    color: white;
  }
  .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .bracelet-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./evermore_photos/bracelet_single.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .necklace-text { 
    color: black;
  }
  .necklace-card {
    border: 2px solid #EAC27C;
  }
  .anklet-card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./evermore_photos/anklet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
/* Book Section */
.book-section {
    background-color: #161516f8;
    color: #ffffffb9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EAC27C;
  }
  .btn-white {
    color: #ffffffc9;
    background-color: #161516c4;
    border-color: #EAC27C;
    font-size: 1rem;
  }
.book h3 {
    font-size: 1rem;
}
@media only screen and (min-width: 1000px) {
  .services {
    padding-bottom: 90px;
  }
  .service-card {
    margin-left: 20px;
    margin-right: 20px;
    height: 21rem; 
  }
  .services-title {
    padding-top: 50px; 
    margin-bottom: 50px;
    text-align: center;
  }
  .book h3 {
    font-size: 1.5rem;
}
.btn-white {
  margin-top: 10px;
  margin-right: 20px;
}
.card-title {
  font-size: 2.8rem;
}
.card-text {
  font-size: 1rem;
}
}
/* FAQ */
.faq {
  padding-bottom: 50px;
}
.faq-section {
  margin-top: 30px;
}
.faq-section h2 {
  text-align: center;
  padding-bottom: 20px;
}
.accordion-button {
  background-color: #f7f1ec;
  color: #000000;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #EAC27C
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  background-color: #ffffff;
  padding: 15px;
}

/* Footer */
.footer-section {
  background-color: #414042;
  color: #ffffff;
  padding: 20px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  vertical-align: middle;
  margin-right: 50px;
}

.footer-logo img {
  height: 4rem;
}

.footer-instagram {
  vertical-align: middle;
  margin-right: 50px;
  font-size: 50px;
}

.footer-company {
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
}
